.flex-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.pop-box {
    padding: 15px;
    display: table;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pop-hover:hover {
    background-color: #2e353f;
    cursor: pointer;
    transition: 0.3s
  }